name: Build and Push Docker Image
on:
    
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
    paths-ignore:
      - "manifest/**"
      - ".vscode/**"
      - "project_templates/**"
      - ".github/**"
      - ".gitignore"
      - "sonar-project.properties"
  pull_request:
    types:
      - opened
      - synchronize
      - labeled
      - unlabeled
    paths-ignore:
      - "manifest/**"
      - ".vscode/**"
      - "project_templates/**"
      - ".github/**"
      - ".gitignore"
      - "sonar-project.properties"
  workflow_dispatch: # Optional: Allow manual triggering

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/${{ github.repository }}
          tags: |
            # 1. Main branch: snapshot-latest and short SHA
            type=raw,value=snapshot-latest,enable={{is_default_branch}}
            type=raw,value=main,enable={{is_default_branch}}
            type=sha,format=short,prefix=,enable={{is_default_branch}}

            # 2. Semver tags (triggered on tag events)
            # Provides: v1.2.3, v1.2, and v1
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}

            # 3. Other branches: branch-latest
            # Excludes 'main' to avoid collision with Rule 1
            type=ref,event=branch,suffix=-latest,enable=${{ github.ref != 'refs/heads/main' }}
            
            # 4. Other branches: branch-SHA
            # Uses the 'ref' type for branch name and 'sha' for the commit
            type=ref,event=branch,suffix=-{{sha}},enable=${{ github.ref != 'refs/heads/main' }}

            # 5. Pull Requests: pr-{number}
            type=ref,event=pr

            # 6. Pull Requests: pr-{number}-{sha}
            type=ref,event=pr,suffix=-{{sha}}

            # 7. Pull Requests: {branch}
            type=raw,value=${{ github.head_ref }},enable=${{ github.event_name == 'pull_request' }}
          flavor:
            # Prevents the action from automatically adding the default 'latest' tag
            # so you can manage it strictly through your semver/branch rules.
            latest=false
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
